# Universal Backend API Base URL
NEXT_PUBLIC_API_URL=http://localhost:5000/api

# Firebase Google Authentication Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDpHw7j9lBbHv4m8rgc0BuEwIiMFViu1nc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=retroflow-1d442.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=retroflow-1d442
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=retroflow-1d442.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=90825700119
NEXT_PUBLIC_FIREBASE_APP_ID=1:90825700119:web:8918ad2dcf4c5b06d6bd52
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-KFM52EY8VY
