# Dependencies
node_modules/

# Environment files & Secrets
.env*
*.env
**/.env*
*.pem
*.key
*.cert
*.crt
serviceAccountKey*.json
*firebase-adminsdk*.json

# Logs
*.log
logs/

# Debugging & OS
.DS_Store
Thumbs.db
